<h1> HOME </h1>
<%=@Name%>
<%= form_with url: '/main/log_out', method: 'post', data: {turbo:false} do |form| %>
    <%= form.hidden_field :username,value:@Username%>
    <%= form.submit "Logout"%>
<%end%>