<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main/home">Main</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/profile/main">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_market">My Market</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/purchase_history">Purchase History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sale_history">Sale History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_inventory">My Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/topseller/main">Top Seller</a>
        </li>
        <li class="nav-item " >
        <a class="nav-link" style='color:red;' href="/user/main">User Info</a>
      </li>
      <li class="nav-item ">
      <a class="nav-link" style='color:red;'  href="/item">Item Info</a>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
            <%= button_to "Logout", main_log_out_path,:class => 'btn btn-danger',:method => :post %>
        </li>
        
     
      </ul>
    
    </div>
  </div>
</nav>